.section-clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    
&__title-clients {
    margin-top: 0;
    margin-bottom: 30px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    }
}

.clients-list {
    display: flex;
   flex-wrap: wrap;
   margin: -15px;

&__clients-item {
    margin: 15px;
    width: calc((100% - 60px)/2);  

    @media screen and (min-width: 768px) {
    width: calc((100% - 90px)/3);
}

@media screen and (min-width: 1200px) {
    width: calc((100% - 180px)/6);
}
}

&__clients-img {
    display: flex;
    height: 92px;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
&  &__clients-img:hover,
&  &__clients-img:focus {
     fill: $accent-color;
     border: 1px solid $accent-color;
}
}
