.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    opacity: 1;
    transition: opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility  1250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    width: 528px;
    max-height: 581px;
    height: 100%;
    padding: 40px;
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /*overflow: auto;*/

&__modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  max-width: 448px;
  max-height: 23;
  margin-top: 0;
  margin-bottom: 12px;
  }
     }

.contactmodal-form {

&__form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  
  color: $primary-text-color;
  }

&__form-control {
  position: relative;    
  }

&__form-input {
  width: 100%;
  height: 40px;
  padding: 14px 14px 14px 35px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  outline: none;  
  margin-bottom: 10px;
  cursor: pointer;
  }

&__form-input:focus {
  border-color: $accent-color;
  }

&__form-icon {
  position: absolute;
  top:50%;
  left: 15px;
  transform:translate(0%, -100%);
  fill: $title-text-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__form-input:focus + &__form-icon {
  border-color: $accent-color;
  fill: $accent-color;
  transform:translate(-250%, -100%);
  }

&__form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  fill: rgba(117, 117, 117, 0.5)
  }

&__contactmodal-form__form-textarea--checked :checked {
  border-color: $accent-color;
  fill: $accent-color;
}

&__checkbox-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;   
}

&__checkbox-label {
  display: block;
  padding-left: 8px;
    font-size: 14px;
    /*line-height: 1.71;*/
    letter-spacing: 0.03em;
    color: $primary-text-color;
    cursor: pointer;
    }

&__checkbox-input {
  width: 16px;
  height: 15px;     
  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
}

&__checkbox-border  {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  background-color: $primary-white-color;
  background-origin: border-box;
  z-index: -1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill-opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__checkbox-input:checked + &__checkbox-border  {
  border: none;
  background-color: $accent-color;
  fill: $primary-white-color;
  }

&__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
border-radius: 4px;
padding: 10px 52px;

min-width: 200px;
height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
background-color: $accent-color;
color: $primary-white-color;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;   
cursor: pointer;
transition: background-color 2250ms cubic-bezier(0.4, 0, 0.2, 1),
color 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__form-button:hover {
  color: tomato;
   }
  }
 

  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
            
    fill:rgba(0, 0, 0, 1);
    background-color: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
            
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                     
  .modal-close-button:hover,
  .modal-close-button:focus {
    fill: $accent-color;
    }
        