.section-work {
    padding-top: 0px;
    padding-bottom: 94px;

&__title-work {
    margin-top: 0;
    margin-bottom: 50px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    }
    }

    .work-list {
    display:flex;
    align-items: center;
    justify-content: center;
     
    &__work-box {
    width: 370px;
    margin-right: 30px;
    }
 
    &__box:not(:last-child) {
    margin-right: 30px;
    }
    
    &__box-img {
    position: relative;
    overflow: hidden;
    }
    
    &__box-title-overlay {
    position: absolute;
      right: 0;
      bottom: 0;
      width: 370px;
      height: 70px;
      color: $primary-white-color;
      background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    
    color: $primary-white-color;
    }
    
    &__box-title-overlay--addition {
        display: flex;
        align-items: center;
        justify-content: center;   
    }
 
}